@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --secondary-color: rgba(242, 153, 74, 1);
}

a{
    color: var(--secondary-color);
}

h1{
    font-size: 40px;
    font-weight: 400;
}

body, html{
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5rem;
    overflow-y: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

.button{
    background: var(--secondary-color) !important;
    color: #fff !important;
    /* box-shadow: 0px 16px 24px rgba(140, 52, 43, 0.14), 0px 2px 6px rgba(140, 52, 43, 0.13), 0px 0px 1px rgba(140, 52, 43, 0.11) !important; */
    box-shadow: 0 0 1em rgba(63, 61, 61, 0.589)   ;
    border-radius: 5px !important;
    border: 0;
    transition: all 0.5s ease;
}

.button:hover{
    background: #fff !important;
    color: #fd7e14 !important;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* Sign In Page
========================================== */
.sign-login{
    display: flex;
    position: relative;
    height: 100vh;
}

.left-pane{
    width: 50%;
    height: 100vh;
    background: linear-gradient(rgba(17, 17, 17, 0.315), rgba(17, 17, 17, 0.37)), url(../img/photo-1470434767159-ac7bf1b43351.jpg) top/cover no-repeat;
}


.right-pane{
    height: 100vh;
    position: relative;
    width: 50%;
    background: linear-gradient(#111, #111);
    overflow-y: hidden;
}

.right-pane svg{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    overflow-y: hidden;
}

.signLogin-form{
    position: absolute;
    width: 500px;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(33px);
    backdrop-filter: blur(33px);
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 44px;
    overflow: hidden;
}


.signLogin-form h1{
    color: var(--secondary-color);
}

.signLogin-form a span{
    flex: 1;
}



.google img{
    background: transparent;
    width: 20px;
}

.facebook img{
    background: transparent;
    width: 20px;
}

.signLogin-form a span{
    font-size: 16px;
    font-weight: normal;
    line-height: 100%;
}
/* Sign In Page End
========================================== */



@media screen and (max-width: 768px){
    .signLogin-form{
        width: 450px;
    }
}

@media screen and (max-width: 468px){
    .signLogin-form{
        width: 400px;
    }
}

@media screen and (max-width: 378px){
    .signLogin-form{
        width: 350px;
        padding: 20px;
    }
}

@media screen and (max-width: 328px){
    .signLogin-form{
        width: 310px;
        padding: 20px;
    }
}


@media screen and (max-width: 300px){
    .signLogin-form{
        width: 270px;
        padding: 20px;
    }
}




/* About Page
========================================== */



/* About Page End
========================================== */





